html {
	font-family: var(--font-family_1);
	font-style: normal;
	font-weight: 400;
}

body {
	background: #f2f4f7;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

@media screen and (max-width: 1224px) {
	body {
		margin: 0;
	}
}

* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}