@use 'fonts';
@use 'global';
@use 'reset';
@use 'variables';

@use 'components/block-devcycle';
@use 'components/block-discuss';
@use 'components/block-ebook';
@use 'components/block-faq';
@use 'components/block-projects';
@use 'components/block-stages';
@use 'components/block-team';
@use 'components/block-welcome';
@use 'components/footer';
@use 'components/header';