.block__discuss {
    background: url("../../assets/img/discuss/discuss-background1440px.png");
    margin-left: -108px;
    margin-right: -108px;
    padding: 80px 108px;
    max-width: 1440px;
    width: 100vw;
    display: flex;
    gap: 24px;

    &-leftblock {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &-rightblock {
        max-width: 600px;
        width: 100%;

        .form-wrapper {
            gap: 24px; 

            .button-blue {
                align-self: flex-end;
                width: fit-content;
                height: fit-content;
            }
        }
    }

    .block-title {
        max-width: 240px;
        color: var(--color_7);
    }

    .block-text {
        max-width: 400px;
        letter-spacing: 0;
        color: var(--color_7);
    }

    @media screen and (max-width: 1224px) {
        margin-left: -80px;
        margin-right: -80px;
        padding: 80px;
    }

    @media screen and (max-width: 1023px) {
        background: url("../../assets/img/discuss/discuss-background1024px.png");
        margin-left: -32px;
        margin-right: -32px;
        padding: 32px;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;

        .block-title {
            max-width: 600px;
        }
    
        .block-text {
            max-width: 344px;
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) {
        background: url("../../assets/img/discuss/discuss-background768px.png");
        margin-left: -16px;
        margin-right: -16px;
        padding: 34px 16px 54px;
        gap: 32px;

        &-rightblock {
            margin-top: 96px;

            .form-wrapper {
                .button-blue {
                    align-self: center;
                }
            }
        }
    }
}

.form__discuss {
    display: flex;
    gap: 24px;
    
    &-content {
		display: grid;
		gap: 8px;
		flex: 1;
	}

    @media screen and (max-width: 767px) {
        gap: 16px;
        flex-wrap: wrap;

        &-content {
            padding: 12px 0;
        }
    }
}