.block__welcome {
    margin-top: -56px;
    height: 900px;

	&-content {
		margin-top: 160px;
		width: 600px;
		height: 220px;
		display: grid;
		gap: 24px;
	}
	
	.form-wrapper {
		width: fit-content;
		margin-top: 64px;
		gap: 32px;
	}
	
	&-subtitle {
		width: 600px;
		font-family: var(--font-family_3);
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.38px;
		color: var(--color_1);
	}

	&-background {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		max-width: 1440px;
		width: 100%;
		height: 900px;
		overflow: hidden;

		&-wrapper {
			display: flex;
			gap: 2%;
			justify-content: end;
			transform: translateX(24%);
		}
	}

	@media screen and (max-width: 1224px) {
		&-background {
			width: 100vw;
		}
	}
	
	@media screen and (max-width: 1023px) {
		margin-top: -90px;
		height: 762px;
	
		&-content {
			margin-top: 138px;
			width: 382px;
			height: 204px;
		}
	
		.form-wrapper {
			margin-top: 32px;
			padding: 32px;
			width: 382px;
			height: 356px;
			box-sizing: border-box;
		}
	
		&-subtitle {
			width: 295px;
			font-size: 16px;
		}
	
		&-background {
			height: 762px;
	
			&-wrapper {
				transform: translateX(16%);
			}
		}
	}
	
	@media screen and (max-width: 767px) {
		height: 1268px;
	
		.form-wrapper {
			margin-top: 536px;
			width: 392px;
		}

		&-background {
			height: 1275px;
	
			&-wrapper {
				transform: translate(32%, 20%);
			}
		}
	}	
}

.form__welcome {
    width: 628px;
    height: 58px;
    display: flex;
    gap: 24px;

	&-content {
		display: grid;
		gap: 8px;
		flex: 1;
	}

	.button-blue {
		width: 132px;
		height: fit-content;
	}

	@media screen and (max-width: 1023px) {
		width: 295px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	
		.button-blue {
			width: fit-content;
			height: 40px;
			text-align: left;
		}
	}
	
	@media screen and (max-width: 767px) {
		width: 224px;
	}	
}

.background__image {
	display: flex;
	flex-direction: column;
	rotate: -12deg;
	object-fit: cover;

	@media screen and (max-width: 1023px) {
		width: 146px;
	}

}

.image-left {
	animation: moveBackgroundLeft 30s linear infinite;

	@media screen and (max-width: 767px) {
		animation: none;
	}	
}

.image-right {
    animation: moveBackgroundRight 30s linear infinite;

	@media screen and (max-width: 767px) {
		margin-top: -30px;
		animation: none;
	}	
}

@keyframes moveBackgroundLeft {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveBackgroundRight {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0)
    }
}