.block__projects {
    padding: 80px 0 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .block-title {
        max-width: 595px;
    }

    .block-text {
        max-width: 600px;
    }

    .end{
        display: none;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        &:nth-of-type(2) {
            gap: 32px;
        }
        
        &:nth-of-type(3) {
            gap: 24px;
        }
    }

    .adaptive img {
        display: none;
    }

    &-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px 25px;
        margin-bottom: 80px;
        max-height: 280px;
    }

    &-item {
        flex-basis: calc(100% / 3 - 25px);
        max-width: calc(50% - 32px);
        display: flex;
        align-items: center;
        gap: 16px;

        &-title {
            font-family: var(--font-family_4);
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.41px;
            color: var(--color_1);
        }

        svg {
            flex-shrink: 0;
        }
    }

    &-links {
        display: flex;
        align-items: center;

        .button-blue {
            margin-left: 70px;
            width: fit-content;
            height: fit-content;
        }
    }  

    &-link {
        padding: 16px;

        a {
            font-family: var(--font-family_6);
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.41px;
            color: var(--color_4);
            text-decoration: none;
    
            &:hover {
                font-family: var(--font-family_4);
                font-weight: 500;
                color: var(--color_1);
                border-bottom: solid 2px var(--color_3);
            }
        }
    }

    &-group {
        display: flex;
        gap: 24px;
    }

    &-adaptive {
        display: flex;
        justify-content: space-between;

        img {
            display: none;
        }    
    }

    &-leftblock {
        display: flex;
        max-width: 600px;
        width: fit-content;
        flex-direction: column;
        gap: 40px;

        .block-title {
            .button-blue {
                display: none;
            }
        }

        .block-text {
            font-family: var(--font-family_6);
            font-weight: 400;
        }
    }

    &-infos {
        display: flex;
        gap: 32px;
    }

    &-info {
        display: flex;
        gap: 8px;
        align-items: center;

        .block-text {
            font-family: var(--font-family_6);
            font-weight: 400;
        }
    }

    &-stats {
        display: flex;
        gap: 48px;
    }

    &-stat {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .block-title {
            width: fit-content;
            font-size: 24px;
        }

        .block-label {
            font-family: var(--font-family_6);
            font-weight: 400;
        }
    }

    &-download {
        display: flex;
        gap: 16px;

        img {
            cursor: pointer;
        }
    }  

    @media screen and (max-width: 1283px) {
        &-links {
            .button-blue {
                margin-left: 50px;
            }
        }  
    
        &-link {
            padding: 10px;
    
            a {
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        padding: 30px 0 46px;
        gap: 26px;

        .block-title {
            max-width: 380px;
        }

        .block-text {
            max-width: 456px;
            margin-bottom: 2px;
        }

        &-content {
            gap: 48px;
            
            &:nth-of-type(2) {
                gap: 24px;
            }

            &:nth-of-type(3) {
                gap: 32px;
            }
        }

        &-items {
            gap: 15px 138px;
            margin-bottom: 18px;
            max-height: 460px;
        }

        &-item {
            flex-basis: calc(100% / 2 - 138px);
        }

        &-links {
            flex-wrap: wrap;
            
            .button-blue {
                display: none;
            }
        }

        &-link {
            padding: 16px;
    
            a {
                font-size: 14px;
            }
        }

        &-adaptive {
            max-width: 100vw;
            width: 95vw;

            img {
                display: initial;
                max-width: 368px;
                max-height: 225px;
            }

            .block__projects-leftblock {
                min-width: 340px;
            }
        }

        &-leftblock {
            gap: 32px;

            .with-button {
                display: flex;
                max-width: 100vw;
                width: 94vw;
                justify-content: space-between;

                .button-blue {
                    display: initial;
                }
            }

            .block-text {
                max-width: 460px;
            }
        }  

        &-rightblock {
            display: none;
        }   
    }

    @media screen and (max-width: 767px) {
        padding: 30px 0 74px;
        gap: 32px;

        &-content {
            gap: 26px;
            
            &:nth-of-type(2) {
                gap: 30px;
            }

            &:nth-of-type(3) {
                gap: 20px;
            }
        }  
        .adaptive img {
            display: initial;
        }

        &-items {
            gap: 15px 32px;
            margin-bottom: 0;

            &-text {
                font-size: 14px;
            }
        }

        &-item {
            flex-basis: calc(100% / 2 - 32px);

            &-title {
                font-size: 14px;
            }
        }

        &-links {
            gap: 20px 10px;
        }

        &-link {
            padding: 3px;
        }

        &-leftblock {

            .with-button .button-blue{
                display: none;
            }
        }  

        &-adaptive {
            img {
                display: none;
            }
        }

        .button-blue {
            margin: 0 auto;
            text-align: center;
            width: 260px;
            height: 40px;
        }
    }
}